.active {
  font-size: 50px;
  color: #485340;
  margin: 10px 10% 10px 10%;
  padding: 10px;
  background-color: #dcf5cb;
  border: 1px solid #ccc;
}

.inactive {
  font-size: 50px;
  color: #acacac;
  margin: 10px 10% 10px 10%;
  padding: 10px;
  background-color: #727272;
  border: 1px solid #ccc;
}

.stage {
  padding: '2em';
  width: "5px";
  margin: 20%;
}